{{define "content"}}<h1><a href="/" title="Antidote">Antidote</a></h1>
    <h2><span style="color: green;">&bull;</span> {{.Ticket.Title}}</h2>
    <blockquote>
      <p>{{.Ticket.Description}}</p>
    </blockquote>
    <p>Reported by <a href="/p/{{.Ticket.Contact.ID}}/" title="Show more information about {{.Ticket.Contact.Name}}">{{.Ticket.Contact.Name}}</a> from <a href="/c/{{.Ticket.Customer.ID}}/" title="Show more information about {{.Ticket.Customer.Name}}">{{.Ticket.Customer.Name}}</a>{{if .Ticket.Contact.HasEmail}} who can be reached at <a href="mailto:{{.Ticket.Contact.Email}}?subject=Re: {{.Ticket.Number}}" title="Send a email to {{.Ticket.Contact.Name}}">{{.Ticket.Contact.Email}}</a>{{if .Ticket.Contact.HasPhone}} or {{.Ticket.Contact.Phone}}{{end}}{{else if .Ticket.Contact.HasPhone}} who can be reached at {{.Ticket.Contact.Phone}}{{end}}.</p>
    <p>This is a <a title="Ticket is currently {{.Ticket.Status}}">{{if and .Ticket.Status.IsOpen (not .Ticket.Status.IsPaused)}}open{{else if .Ticket.Status.IsPaused}}paused{{else}}closed{{end}}</a> {{.Ticket.Type}} with number {{.Ticket.Number}}. It was opened <a title="{{.Ticket.Created}}">{{.Ticket.CreatedAgeLabel}}</a> and it <a title="{{.Ticket.Ends}}">{{.Ticket.EndsAtLabel}}</a>. It is currently assigned to <a href="/g/{{.Ticket.Assignee.Group.ID}}/" title="Show more information about {{.Ticket.Assignee.Group.Name}}">{{.Ticket.Assignee.Group.Name}}</a>.  It was marked as {{.Ticket.PriorityLabel}} with {{.Ticket.Impact}} impact. The ticket is categorized under {{.Ticket.Category}} / {{.Ticket.Service}}.</p>
    <h3>Worklogs</h3>{{range .Ticket.Worklogs}}
    <blockquote>
      <p>{{.Worklog}}</p>
      <p><a href="/u/{{.User.ID}}/" title="Show more information about {{.User.Name}}">{{.User.Name}}</a> <em>(<a href="/g/{{(.User.PrimaryGroup).ID}}/" title="Show more information about {{(.User.PrimaryGroup).Name}}">{{(.User.PrimaryGroup).Name}}</a>)</em> &mdash; {{.CreatedAgeLabel}}</p>
    </blockquote>{{end}}
    <form>
      <textarea></textarea>
      <br>
      <input type="submit" value="Save">
    </form>
    <h3>Actions</h3>
    <ul>
      <li><a href="/t/{{.Ticket.Number}}/pause/" title="Pause this ticket">Pause</a></li>
      <li><a href="/t/{{.Ticket.Number}}/assign/?u=1" title="Assign this ticket to me">Assign to me</a></li>
      <li><a href="/t/{{.Ticket.Number}}/assign/" title="Assign this ticket">Assign</a></li>
      <li><a href="/t/{{.Ticket.Number}}/close/" title="Close this ticket">Close</a></li>
    </ul>{{end}}
